html, body {
  width: 100%;
  height: 100%;
  font-family: PT Sans, sans-serif;

  background: #111;
  color: #EEE;
}

.welcome {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 2em;
}

.options {
  display: flex;
  flex-direction: column;
}

a {
  color: skyblue;
}

a:hover {
  color: yellow;
}

